.font-fun {
    font-weight: bold;
}

.content__dialog-title {
    padding: 0 25px;
}

.content__dialog-title .title {
    font-size: 1.4rem !important;
    color: var(--color-theme-principal) !important;
    border-bottom: 3px solid var(--color-theme-principal);
    text-align: left;
}

.content__dialog-buttons {
    padding: 15px 25px !important;
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;
}

@media screen and (max-width: 425px) {
    .content__dialog-info section {
        width: 100%;
        overflow-x: auto;
    }

    .content__dialog-info h2,
    .content__dialog-info p
    .content__dialog-info ul li{
        font-size: 1rem;
    }

    .content__dialog-info ul li {
        list-style: none;
    }

    .content__dialog-info ul {
        padding-left: 0;
    }
}