
.content__dialog-info img {
    width: auto;
    height: 80px;
    transform: translate(50%);
}
.font-fun {
    font-weight: bold;
}

.content__dialog-title {
    padding: 0 25px;
}

.content__dialog-title .title {
    font-size: 1.4rem;
    color: var(--color-theme-principal);
    border-bottom: 3px solid var(--color-theme-principal);
    text-align: left;
}

.content__dialog-buttons {
    padding: 15px 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 425px) {
    .content__dialog-info h2,
    .content__dialog-info p
    .content__dialog-info ul li{
        font-size: 1rem;
    }

    .content__dialog-info ul li {
        list-style: none;
    }

    .content__dialog-info ul {
        padding-left: 0;
    }

    .content__dialog-buttons {
        justify-content: center;
    }

    .content__dialog-buttons button {
        margin-bottom: 10px;
    }
}