.game {
    margin-top: 80px;
    color: white;
}

.game .score-good,
.game .score-bad {
    font-size: 2.1rem;
}

.game .points-good,
.game .points-bad {
    font-size: 1.9rem;
}

.game .game__content-pictures {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    border: 1px solid #757575;
    border-radius: 8px;
    padding: 25px 15px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin-bottom: 30px;
}

.content-card {
    border: 1px solid #585858;
    border-radius: 8px;
    max-width: 300px;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media screen and (max-width: 768px) {
    .game .game__content-pictures {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    }

    .game .score-good,
    .game .score-bad {
        font-size: 1.8rem;
    }

    .game .points-good,
    .game .points-bad {
        font-size: 1rem;
    }
}


@media screen and (max-width: 481px) {
    .game .game__content-pictures {
        grid-template-columns: repeat(auto-fill, minmax(70px, 1fr)); 
    }
}