<app-header></app-header>
<section class="container game">
    <div class="row mt-5">
        <div class="col-6 text-center">
            <h3 class="score-good">Aciertos</h3>
            <p class="points-good">3</p>
        </div>
        <div class="col-6 text-center">
            <h3 class="score-bad">Errores</h3>
            <p class="points-bad">7</p>
        </div>
    </div>
    <div class="game__content-pictures">
        <app-card-animals [dataAnimal]="animal" *ngFor="let animal of cardAnimals?.entries"></app-card-animals>
    </div>
</section>
